:root {
  --black: #0b2027;
  --cerulean: #40798c;
  --green: #70a9a1;
  --gray: #cfd7c7;
  --beige: #f6f1d1;
  --white: #ffffff; 
  --off-white: #ededed;

  --bgc: var(--green);
  --text: var(--black);
  --card: var(--off-white);
  --borders: var(--black);
  --effcts: var(--white);

  /*typography*/
  --h1: 11.391rem;
  --h2: 7.594rem;
  --h3: 5.063rem;
  --h4: 3.375rem; 
  --p: 1rem;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body{
  background: var(--bgc);
}

h1 {
  color: var(--text);
  font-size: var(--h1);
  text-align: center;
  margin: 4rem;
}

h3 {
  color: var(--text);
  font-size: var(--h3);
}

h4 {
  color: var(--text);
  font-size: 3.375rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card {
  background: var(--card);
  border-radius: .5rem;
  border: .3rem solid var(--borders);
  margin: 1rem;
  padding: 1rem;
  width: 27vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

.card2 {
  background: var(--card);
  border-radius: .5rem;
  border: .3rem solid var(--borders);
  margin: .5rem;
  padding: 1rem;
  width: 23vw;
  height: 68vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.card:hover {
  transform: scale(1.05);
  background-color: var(--effcts);
}
img {
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background: var(--card);
}

@media screen and (max-width:1000px) {
  .card, .card2, body {
      width: 40%;
  }
  h1{font-size: var(--h2);}
  
}

@media  screen and (max-width:812px) {
  .card, .card2, body  {
      width: 100%;
  }

h1{font-size: var(--h2);}

}